<?xml version="1.0"?>

<robot xmlns:xacro = "http://www.ros.org/wiki/xacro">

  <xacro:macro name = "fts_lwa" params ="parent *origin has_parent tool_point">
    
      <joint name="fts_lwa_joint" type="fixed">
	<xacro:insert_block name="origin" />
        <parent link="${parent}"/>
        <child link="fts_lwa_base_link"/>
      </joint>
      
      <link name="fts_lwa_base_link">
        <xacro:default_inertial/>
	<visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
	    <mesh filename="package://description_tools/meshes/fts_lwa/fts_lwa.stl"  scale = "0.001 0.001 0.001"/>
          </geometry>
	  <material name="Schunk/Black"/>
        </visual>

        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
	    <mesh filename="package://description_tools/meshes/fts_lwa/fts_lwa_collision.stl"  scale = "0.0011 0.0011 0.0011"/>
          </geometry>
        </collision>
      </link>
  
    <joint name="fts_lwa_end_joint" type="fixed">
	<origin xyz="0 0 0" rpy="0 0 0" />
	<parent link="fts_lwa_base_link"/>
	<child link="${tool_point}"/>    
    </joint>
    <link name ="${tool_point}"/>
    
    
    <gazebo reference="fts_lwa_base_link">
      <gravity>true</gravity>
      <self_collide>false</self_collide>
      <material value="Schunk/Black" />
    </gazebo>
    
  </xacro:macro>
  
  
  
  
</robot>